<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
===================================================================

Sprite sheet file created for UIKit using TexturePacker
http://www.codeandweb.com/texturepacker

===================================================================
$TexturePacker:SmartUpdate:9660a118da61e3141fb6f19972886019:1/1$
-->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>

                        <key>emoji_\U0001f6b9_0</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>91</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>26</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_1</key>
			<dict>
				<key>x</key><real>95</real>
				<key>y</key><real>2</real>
				<key>w</key><real>81</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>11</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_10</key>
			<dict>
				<key>x</key><real>178</real>
				<key>y</key><real>2</real>
				<key>w</key><real>91</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>24</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_100</key>
			<dict>
				<key>x</key><real>271</real>
				<key>y</key><real>2</real>
				<key>w</key><real>85</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_101</key>
			<dict>
				<key>x</key><real>358</real>
				<key>y</key><real>2</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_102</key>
			<dict>
				<key>x</key><real>445</real>
				<key>y</key><real>2</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_103</key>
			<dict>
				<key>x</key><real>532</real>
				<key>y</key><real>2</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_104</key>
			<dict>
				<key>x</key><real>619</real>
				<key>y</key><real>2</real>
				<key>w</key><real>79</real>
				<key>h</key><real>80</real>
				<key>oX</key><real>7</real>
				<key>oY</key><real>18</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_105</key>
			<dict>
				<key>x</key><real>700</real>
				<key>y</key><real>2</real>
				<key>w</key><real>91</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_106</key>
			<dict>
				<key>x</key><real>793</real>
				<key>y</key><real>2</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_107</key>
			<dict>
				<key>x</key><real>878</real>
				<key>y</key><real>2</real>
				<key>w</key><real>83</real>
				<key>h</key><real>56</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>30</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_108</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>96</real>
				<key>w</key><real>63</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>15</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_109</key>
			<dict>
				<key>x</key><real>67</real>
				<key>y</key><real>96</real>
				<key>w</key><real>83</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_11</key>
			<dict>
				<key>x</key><real>152</real>
				<key>y</key><real>96</real>
				<key>w</key><real>87</real>
				<key>h</key><real>70</real>
				<key>oX</key><real>3</real>
				<key>oY</key><real>18</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_110</key>
			<dict>
				<key>x</key><real>241</real>
				<key>y</key><real>96</real>
				<key>w</key><real>75</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>9</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_111</key>
			<dict>
				<key>x</key><real>318</real>
				<key>y</key><real>96</real>
				<key>w</key><real>83</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>15</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_112</key>
			<dict>
				<key>x</key><real>403</real>
				<key>y</key><real>96</real>
				<key>w</key><real>73</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>10</real>
				<key>oY</key><real>13</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_113</key>
			<dict>
				<key>x</key><real>478</real>
				<key>y</key><real>96</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_114</key>
			<dict>
				<key>x</key><real>565</real>
				<key>y</key><real>96</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_115</key>
			<dict>
				<key>x</key><real>652</real>
				<key>y</key><real>96</real>
				<key>w</key><real>91</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>19</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_12</key>
			<dict>
				<key>x</key><real>745</real>
				<key>y</key><real>96</real>
				<key>w</key><real>91</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>18</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_13</key>
			<dict>
				<key>x</key><real>838</real>
				<key>y</key><real>96</real>
				<key>w</key><real>87</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_14</key>
			<dict>
				<key>x</key><real>927</real>
				<key>y</key><real>96</real>
				<key>w</key><real>83</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>20</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_15</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>190</real>
				<key>w</key><real>77</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>6</real>
				<key>oY</key><real>22</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_16</key>
			<dict>
				<key>x</key><real>81</real>
				<key>y</key><real>190</real>
				<key>w</key><real>87</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_17</key>
			<dict>
				<key>x</key><real>170</real>
				<key>y</key><real>190</real>
				<key>w</key><real>83</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>26</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_18</key>
			<dict>
				<key>x</key><real>255</real>
				<key>y</key><real>190</real>
				<key>w</key><real>81</real>
				<key>h</key><real>76</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>24</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_19</key>
			<dict>
				<key>x</key><real>338</real>
				<key>y</key><real>190</real>
				<key>w</key><real>83</real>
				<key>h</key><real>80</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_2</key>
			<dict>
				<key>x</key><real>423</real>
				<key>y</key><real>190</real>
				<key>w</key><real>79</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>7</real>
				<key>oY</key><real>16</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_20</key>
			<dict>
				<key>x</key><real>504</real>
				<key>y</key><real>190</real>
				<key>w</key><real>83</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>26</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_21</key>
			<dict>
				<key>x</key><real>589</real>
				<key>y</key><real>190</real>
				<key>w</key><real>83</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>26</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_22</key>
			<dict>
				<key>x</key><real>674</real>
				<key>y</key><real>190</real>
				<key>w</key><real>75</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>7</real>
				<key>oY</key><real>26</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_23</key>
			<dict>
				<key>x</key><real>751</real>
				<key>y</key><real>190</real>
				<key>w</key><real>83</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>6</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_24</key>
			<dict>
				<key>x</key><real>836</real>
				<key>y</key><real>190</real>
				<key>w</key><real>83</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>6</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_25</key>
			<dict>
				<key>x</key><real>921</real>
				<key>y</key><real>190</real>
				<key>w</key><real>77</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>21</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_26</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>280</real>
				<key>w</key><real>83</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_27</key>
			<dict>
				<key>x</key><real>87</real>
				<key>y</key><real>280</real>
				<key>w</key><real>91</real>
				<key>h</key><real>70</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>23</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_28</key>
			<dict>
				<key>x</key><real>180</real>
				<key>y</key><real>280</real>
				<key>w</key><real>89</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>20</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_29</key>
			<dict>
				<key>x</key><real>271</real>
				<key>y</key><real>280</real>
				<key>w</key><real>87</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_3</key>
			<dict>
				<key>x</key><real>360</real>
				<key>y</key><real>280</real>
				<key>w</key><real>83</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>17</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_30</key>
			<dict>
				<key>x</key><real>445</real>
				<key>y</key><real>280</real>
				<key>w</key><real>87</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_31</key>
			<dict>
				<key>x</key><real>534</real>
				<key>y</key><real>280</real>
				<key>w</key><real>85</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_32</key>
			<dict>
				<key>x</key><real>621</real>
				<key>y</key><real>280</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_33</key>
			<dict>
				<key>x</key><real>706</real>
				<key>y</key><real>280</real>
				<key>w</key><real>91</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_34</key>
			<dict>
				<key>x</key><real>799</real>
				<key>y</key><real>280</real>
				<key>w</key><real>89</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>16</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_35</key>
			<dict>
				<key>x</key><real>890</real>
				<key>y</key><real>280</real>
				<key>w</key><real>91</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>16</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_36</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>370</real>
				<key>w</key><real>83</real>
				<key>h</key><real>64</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>28</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_37</key>
			<dict>
				<key>x</key><real>87</real>
				<key>y</key><real>370</real>
				<key>w</key><real>73</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>10</real>
				<key>oY</key><real>16</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_38</key>
			<dict>
				<key>x</key><real>162</real>
				<key>y</key><real>370</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>16</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_39</key>
			<dict>
				<key>x</key><real>247</real>
				<key>y</key><real>370</real>
				<key>w</key><real>87</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>3</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_4</key>
			<dict>
				<key>x</key><real>336</real>
				<key>y</key><real>370</real>
				<key>w</key><real>83</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>19</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_40</key>
			<dict>
				<key>x</key><real>421</real>
				<key>y</key><real>370</real>
				<key>w</key><real>89</real>
				<key>h</key><real>66</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>28</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_41</key>
			<dict>
				<key>x</key><real>512</real>
				<key>y</key><real>370</real>
				<key>w</key><real>91</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>20</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_42</key>
			<dict>
				<key>x</key><real>605</real>
				<key>y</key><real>370</real>
				<key>w</key><real>89</real>
				<key>h</key><real>68</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>28</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_43</key>
			<dict>
				<key>x</key><real>696</real>
				<key>y</key><real>370</real>
				<key>w</key><real>91</real>
				<key>h</key><real>64</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>30</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_44</key>
			<dict>
				<key>x</key><real>789</real>
				<key>y</key><real>370</real>
				<key>w</key><real>91</real>
				<key>h</key><real>58</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>36</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_45</key>
			<dict>
				<key>x</key><real>882</real>
				<key>y</key><real>370</real>
				<key>w</key><real>65</real>
				<key>h</key><real>80</real>
				<key>oX</key><real>14</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_46</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>462</real>
				<key>w</key><real>77</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>9</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_47</key>
			<dict>
				<key>x</key><real>81</real>
				<key>y</key><real>462</real>
				<key>w</key><real>91</real>
				<key>h</key><real>76</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>21</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_48</key>
			<dict>
				<key>x</key><real>174</real>
				<key>y</key><real>462</real>
				<key>w</key><real>85</real>
				<key>h</key><real>76</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>18</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_49</key>
			<dict>
				<key>x</key><real>261</real>
				<key>y</key><real>462</real>
				<key>w</key><real>81</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>9</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_5</key>
			<dict>
				<key>x</key><real>344</real>
				<key>y</key><real>462</real>
				<key>w</key><real>79</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>7</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_50</key>
			<dict>
				<key>x</key><real>425</real>
				<key>y</key><real>462</real>
				<key>w</key><real>89</real>
				<key>h</key><real>76</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>18</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_51</key>
			<dict>
				<key>x</key><real>516</real>
				<key>y</key><real>462</real>
				<key>w</key><real>91</real>
				<key>h</key><real>60</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>34</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_52</key>
			<dict>
				<key>x</key><real>609</real>
				<key>y</key><real>462</real>
				<key>w</key><real>71</real>
				<key>h</key><real>58</real>
				<key>oX</key><real>10</real>
				<key>oY</key><real>35</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_53</key>
			<dict>
				<key>x</key><real>682</real>
				<key>y</key><real>462</real>
				<key>w</key><real>91</real>
				<key>h</key><real>72</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>23</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_54</key>
			<dict>
				<key>x</key><real>775</real>
				<key>y</key><real>462</real>
				<key>w</key><real>91</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>15</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_55</key>
			<dict>
				<key>x</key><real>868</real>
				<key>y</key><real>462</real>
				<key>w</key><real>91</real>
				<key>h</key><real>52</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>25</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_56</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>556</real>
				<key>w</key><real>89</real>
				<key>h</key><real>80</real>
				<key>oX</key><real>3</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_57</key>
			<dict>
				<key>x</key><real>93</real>
				<key>y</key><real>556</real>
				<key>w</key><real>89</real>
				<key>h</key><real>72</real>
				<key>oX</key><real>3</real>
				<key>oY</key><real>26</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_58</key>
			<dict>
				<key>x</key><real>184</real>
				<key>y</key><real>556</real>
				<key>w</key><real>89</real>
				<key>h</key><real>76</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>18</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_59</key>
			<dict>
				<key>x</key><real>275</real>
				<key>y</key><real>556</real>
				<key>w</key><real>89</real>
				<key>h</key><real>60</real>
				<key>oX</key><real>3</real>
				<key>oY</key><real>34</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_6</key>
			<dict>
				<key>x</key><real>366</real>
				<key>y</key><real>556</real>
				<key>w</key><real>83</real>
				<key>h</key><real>68</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>32</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_60</key>
			<dict>
				<key>x</key><real>451</real>
				<key>y</key><real>556</real>
				<key>w</key><real>89</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>20</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_61</key>
			<dict>
				<key>x</key><real>542</real>
				<key>y</key><real>556</real>
				<key>w</key><real>87</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_62</key>
			<dict>
				<key>x</key><real>631</real>
				<key>y</key><real>556</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_63</key>
			<dict>
				<key>x</key><real>716</real>
				<key>y</key><real>556</real>
				<key>w</key><real>89</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_64</key>
			<dict>
				<key>x</key><real>807</real>
				<key>y</key><real>556</real>
				<key>w</key><real>91</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_65</key>
			<dict>
				<key>x</key><real>900</real>
				<key>y</key><real>556</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_66</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>650</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>6</real>
				<key>oY</key><real>15</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_67</key>
			<dict>
				<key>x</key><real>87</real>
				<key>y</key><real>650</real>
				<key>w</key><real>67</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>11</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_68</key>
			<dict>
				<key>x</key><real>156</real>
				<key>y</key><real>650</real>
				<key>w</key><real>73</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>10</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_69</key>
			<dict>
				<key>x</key><real>231</real>
				<key>y</key><real>650</real>
				<key>w</key><real>87</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_7</key>
			<dict>
				<key>x</key><real>320</real>
				<key>y</key><real>650</real>
				<key>w</key><real>73</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>10</real>
				<key>oY</key><real>22</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_70</key>
			<dict>
				<key>x</key><real>395</real>
				<key>y</key><real>650</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>15</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_71</key>
			<dict>
				<key>x</key><real>480</real>
				<key>y</key><real>650</real>
				<key>w</key><real>87</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_72</key>
			<dict>
				<key>x</key><real>569</real>
				<key>y</key><real>650</real>
				<key>w</key><real>75</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>10</real>
				<key>oY</key><real>16</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_73</key>
			<dict>
				<key>x</key><real>646</real>
				<key>y</key><real>650</real>
				<key>w</key><real>83</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>3</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_74</key>
			<dict>
				<key>x</key><real>731</real>
				<key>y</key><real>650</real>
				<key>w</key><real>73</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>10</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_75</key>
			<dict>
				<key>x</key><real>806</real>
				<key>y</key><real>650</real>
				<key>w</key><real>85</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_76</key>
			<dict>
				<key>x</key><real>893</real>
				<key>y</key><real>650</real>
				<key>w</key><real>69</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>12</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_77</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>744</real>
				<key>w</key><real>87</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>15</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_78</key>
			<dict>
				<key>x</key><real>91</real>
				<key>y</key><real>744</real>
				<key>w</key><real>71</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>11</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_79</key>
			<dict>
				<key>x</key><real>164</real>
				<key>y</key><real>744</real>
				<key>w</key><real>81</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>6</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_8</key>
			<dict>
				<key>x</key><real>247</real>
				<key>y</key><real>744</real>
				<key>w</key><real>91</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>24</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_80</key>
			<dict>
				<key>x</key><real>340</real>
				<key>y</key><real>744</real>
				<key>w</key><real>89</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_81</key>
			<dict>
				<key>x</key><real>431</real>
				<key>y</key><real>744</real>
				<key>w</key><real>69</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>16</real>
				<key>oY</key><real>15</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_82</key>
			<dict>
				<key>x</key><real>502</real>
				<key>y</key><real>744</real>
				<key>w</key><real>79</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>7</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_83</key>
			<dict>
				<key>x</key><real>583</real>
				<key>y</key><real>744</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_84</key>
			<dict>
				<key>x</key><real>670</real>
				<key>y</key><real>744</real>
				<key>w</key><real>91</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_85</key>
			<dict>
				<key>x</key><real>763</real>
				<key>y</key><real>744</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_86</key>
			<dict>
				<key>x</key><real>848</real>
				<key>y</key><real>744</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_87</key>
			<dict>
				<key>x</key><real>933</real>
				<key>y</key><real>744</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_88</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>838</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_89</key>
			<dict>
				<key>x</key><real>87</real>
				<key>y</key><real>838</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_9</key>
			<dict>
				<key>x</key><real>172</real>
				<key>y</key><real>838</real>
				<key>w</key><real>83</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>22</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_90</key>
			<dict>
				<key>x</key><real>257</real>
				<key>y</key><real>838</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_91</key>
			<dict>
				<key>x</key><real>342</real>
				<key>y</key><real>838</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_92</key>
			<dict>
				<key>x</key><real>427</real>
				<key>y</key><real>838</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_93</key>
			<dict>
				<key>x</key><real>512</real>
				<key>y</key><real>838</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_94</key>
			<dict>
				<key>x</key><real>597</real>
				<key>y</key><real>838</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_95</key>
			<dict>
				<key>x</key><real>682</real>
				<key>y</key><real>838</real>
				<key>w</key><real>51</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>6</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_96</key>
			<dict>
				<key>x</key><real>735</real>
				<key>y</key><real>838</real>
				<key>w</key><real>51</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>37</real>
				<key>oY</key><real>13</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_97</key>
			<dict>
				<key>x</key><real>788</real>
				<key>y</key><real>838</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>16</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_98</key>
			<dict>
				<key>x</key><real>873</real>
				<key>y</key><real>838</real>
				<key>w</key><real>85</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f6b9_99</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>930</real>
				<key>w</key><real>85</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>image</key>
			<string>nature.png</string>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>
