<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
===================================================================

Sprite sheet file created for UIKit using TexturePacker
http://www.codeandweb.com/texturepacker

===================================================================
$TexturePacker:SmartUpdate:f0537ebd154d0476adaf17d8d981f0db:1/1$
-->
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>

                        <key>emoji_\U0001f307_0</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>2</real>
				<key>w</key><real>81</real>
				<key>h</key><real>72</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>27</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_1</key>
			<dict>
				<key>x</key><real>85</real>
				<key>y</key><real>2</real>
				<key>w</key><real>91</real>
				<key>h</key><real>76</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>18</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_10</key>
			<dict>
				<key>x</key><real>178</real>
				<key>y</key><real>2</real>
				<key>w</key><real>83</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_11</key>
			<dict>
				<key>x</key><real>263</real>
				<key>y</key><real>2</real>
				<key>w</key><real>83</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_12</key>
			<dict>
				<key>x</key><real>348</real>
				<key>y</key><real>2</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_13</key>
			<dict>
				<key>x</key><real>433</real>
				<key>y</key><real>2</real>
				<key>w</key><real>89</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_14</key>
			<dict>
				<key>x</key><real>524</real>
				<key>y</key><real>2</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_15</key>
			<dict>
				<key>x</key><real>611</real>
				<key>y</key><real>2</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_16</key>
			<dict>
				<key>x</key><real>698</real>
				<key>y</key><real>2</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_17</key>
			<dict>
				<key>x</key><real>785</real>
				<key>y</key><real>2</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_18</key>
			<dict>
				<key>x</key><real>872</real>
				<key>y</key><real>2</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>13</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_19</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>92</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_2</key>
			<dict>
				<key>x</key><real>89</real>
				<key>y</key><real>92</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_20</key>
			<dict>
				<key>x</key><real>174</real>
				<key>y</key><real>92</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_21</key>
			<dict>
				<key>x</key><real>261</real>
				<key>y</key><real>92</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_22</key>
			<dict>
				<key>x</key><real>348</real>
				<key>y</key><real>92</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>13</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_23</key>
			<dict>
				<key>x</key><real>435</real>
				<key>y</key><real>92</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>13</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_24</key>
			<dict>
				<key>x</key><real>522</real>
				<key>y</key><real>92</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_25</key>
			<dict>
				<key>x</key><real>609</real>
				<key>y</key><real>92</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_26</key>
			<dict>
				<key>x</key><real>696</real>
				<key>y</key><real>92</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_27</key>
			<dict>
				<key>x</key><real>783</real>
				<key>y</key><real>92</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_28</key>
			<dict>
				<key>x</key><real>870</real>
				<key>y</key><real>92</real>
				<key>w</key><real>89</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_29</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>184</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>13</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_3</key>
			<dict>
				<key>x</key><real>89</real>
				<key>y</key><real>184</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_30</key>
			<dict>
				<key>x</key><real>174</real>
				<key>y</key><real>184</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>13</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_31</key>
			<dict>
				<key>x</key><real>261</real>
				<key>y</key><real>184</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_32</key>
			<dict>
				<key>x</key><real>348</real>
				<key>y</key><real>184</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_33</key>
			<dict>
				<key>x</key><real>435</real>
				<key>y</key><real>184</real>
				<key>w</key><real>77</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>6</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_34</key>
			<dict>
				<key>x</key><real>514</real>
				<key>y</key><real>184</real>
				<key>w</key><real>91</real>
				<key>h</key><real>50</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>36</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_35</key>
			<dict>
				<key>x</key><real>607</real>
				<key>y</key><real>184</real>
				<key>w</key><real>91</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>19</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_36</key>
			<dict>
				<key>x</key><real>700</real>
				<key>y</key><real>184</real>
				<key>w</key><real>83</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_37</key>
			<dict>
				<key>x</key><real>785</real>
				<key>y</key><real>184</real>
				<key>w</key><real>87</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_38</key>
			<dict>
				<key>x</key><real>874</real>
				<key>y</key><real>184</real>
				<key>w</key><real>91</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_39</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>278</real>
				<key>w</key><real>69</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>10</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_4</key>
			<dict>
				<key>x</key><real>73</real>
				<key>y</key><real>278</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_40</key>
			<dict>
				<key>x</key><real>158</real>
				<key>y</key><real>278</real>
				<key>w</key><real>87</real>
				<key>h</key><real>72</real>
				<key>oX</key><real>2</real>
				<key>oY</key><real>24</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_41</key>
			<dict>
				<key>x</key><real>247</real>
				<key>y</key><real>278</real>
				<key>w</key><real>91</real>
				<key>h</key><real>72</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>16</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_42</key>
			<dict>
				<key>x</key><real>340</real>
				<key>y</key><real>278</real>
				<key>w</key><real>87</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_43</key>
			<dict>
				<key>x</key><real>429</real>
				<key>y</key><real>278</real>
				<key>w</key><real>91</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>18</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_44</key>
			<dict>
				<key>x</key><real>522</real>
				<key>y</key><real>278</real>
				<key>w</key><real>91</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_45</key>
			<dict>
				<key>x</key><real>615</real>
				<key>y</key><real>278</real>
				<key>w</key><real>79</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>7</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_46</key>
			<dict>
				<key>x</key><real>696</real>
				<key>y</key><real>278</real>
				<key>w</key><real>89</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>3</real>
				<key>oY</key><real>24</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_47</key>
			<dict>
				<key>x</key><real>787</real>
				<key>y</key><real>278</real>
				<key>w</key><real>87</real>
				<key>h</key><real>80</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_48</key>
			<dict>
				<key>x</key><real>876</real>
				<key>y</key><real>278</real>
				<key>w</key><real>87</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>15</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_49</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>372</real>
				<key>w</key><real>85</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_5</key>
			<dict>
				<key>x</key><real>89</real>
				<key>y</key><real>372</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_50</key>
			<dict>
				<key>x</key><real>174</real>
				<key>y</key><real>372</real>
				<key>w</key><real>91</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_51</key>
			<dict>
				<key>x</key><real>267</real>
				<key>y</key><real>372</real>
				<key>w</key><real>91</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>6</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_52</key>
			<dict>
				<key>x</key><real>360</real>
				<key>y</key><real>372</real>
				<key>w</key><real>91</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_53</key>
			<dict>
				<key>x</key><real>453</real>
				<key>y</key><real>372</real>
				<key>w</key><real>91</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_54</key>
			<dict>
				<key>x</key><real>546</real>
				<key>y</key><real>372</real>
				<key>w</key><real>91</real>
				<key>h</key><real>68</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>33</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_55</key>
			<dict>
				<key>x</key><real>639</real>
				<key>y</key><real>372</real>
				<key>w</key><real>91</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_56</key>
			<dict>
				<key>x</key><real>732</real>
				<key>y</key><real>372</real>
				<key>w</key><real>91</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>27</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_57</key>
			<dict>
				<key>x</key><real>825</real>
				<key>y</key><real>372</real>
				<key>w</key><real>91</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>11</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_58</key>
			<dict>
				<key>x</key><real>918</real>
				<key>y</key><real>372</real>
				<key>w</key><real>91</real>
				<key>h</key><real>60</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>41</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_59</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>466</real>
				<key>w</key><real>91</real>
				<key>h</key><real>68</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>33</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_6</key>
			<dict>
				<key>x</key><real>95</real>
				<key>y</key><real>466</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_60</key>
			<dict>
				<key>x</key><real>180</real>
				<key>y</key><real>466</real>
				<key>w</key><real>91</real>
				<key>h</key><real>90</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_61</key>
			<dict>
				<key>x</key><real>273</real>
				<key>y</key><real>466</real>
				<key>w</key><real>91</real>
				<key>h</key><real>74</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>23</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_62</key>
			<dict>
				<key>x</key><real>366</real>
				<key>y</key><real>466</real>
				<key>w</key><real>91</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>23</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_63</key>
			<dict>
				<key>x</key><real>459</real>
				<key>y</key><real>466</real>
				<key>w</key><real>83</real>
				<key>h</key><real>80</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>13</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_64</key>
			<dict>
				<key>x</key><real>544</real>
				<key>y</key><real>466</real>
				<key>w</key><real>91</real>
				<key>h</key><real>72</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>29</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_65</key>
			<dict>
				<key>x</key><real>637</real>
				<key>y</key><real>466</real>
				<key>w</key><real>91</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_66</key>
			<dict>
				<key>x</key><real>730</real>
				<key>y</key><real>466</real>
				<key>w</key><real>91</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>19</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_67</key>
			<dict>
				<key>x</key><real>823</real>
				<key>y</key><real>466</real>
				<key>w</key><real>91</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>15</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_68</key>
			<dict>
				<key>x</key><real>916</real>
				<key>y</key><real>466</real>
				<key>w</key><real>91</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>7</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_69</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>560</real>
				<key>w</key><real>91</real>
				<key>h</key><real>64</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>37</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_7</key>
			<dict>
				<key>x</key><real>95</real>
				<key>y</key><real>560</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_70</key>
			<dict>
				<key>x</key><real>180</real>
				<key>y</key><real>560</real>
				<key>w</key><real>91</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_71</key>
			<dict>
				<key>x</key><real>273</real>
				<key>y</key><real>560</real>
				<key>w</key><real>91</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_72</key>
			<dict>
				<key>x</key><real>366</real>
				<key>y</key><real>560</real>
				<key>w</key><real>91</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_73</key>
			<dict>
				<key>x</key><real>459</real>
				<key>y</key><real>560</real>
				<key>w</key><real>91</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>18</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_74</key>
			<dict>
				<key>x</key><real>552</real>
				<key>y</key><real>560</real>
				<key>w</key><real>57</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>18</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_75</key>
			<dict>
				<key>x</key><real>611</real>
				<key>y</key><real>560</real>
				<key>w</key><real>37</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>28</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_76</key>
			<dict>
				<key>x</key><real>650</real>
				<key>y</key><real>560</real>
				<key>w</key><real>91</real>
				<key>h</key><real>54</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>34</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_77</key>
			<dict>
				<key>x</key><real>743</real>
				<key>y</key><real>560</real>
				<key>w</key><real>53</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>20</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_78</key>
			<dict>
				<key>x</key><real>798</real>
				<key>y</key><real>560</real>
				<key>w</key><real>85</real>
				<key>h</key><real>50</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>32</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_79</key>
			<dict>
				<key>x</key><real>885</real>
				<key>y</key><real>560</real>
				<key>w</key><real>85</real>
				<key>h</key><real>82</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>17</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_8</key>
			<dict>
				<key>x</key><real>2</real>
				<key>y</key><real>654</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>12</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_80</key>
			<dict>
				<key>x</key><real>87</real>
				<key>y</key><real>654</real>
				<key>w</key><real>83</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>24</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_81</key>
			<dict>
				<key>x</key><real>172</real>
				<key>y</key><real>654</real>
				<key>w</key><real>85</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>4</real>
				<key>oY</key><real>19</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_82</key>
			<dict>
				<key>x</key><real>259</real>
				<key>y</key><real>654</real>
				<key>w</key><real>73</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>14</real>
				<key>oY</key><real>13</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_83</key>
			<dict>
				<key>x</key><real>334</real>
				<key>y</key><real>654</real>
				<key>w</key><real>59</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>19</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_84</key>
			<dict>
				<key>x</key><real>395</real>
				<key>y</key><real>654</real>
				<key>w</key><real>91</real>
				<key>h</key><real>70</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>19</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_85</key>
			<dict>
				<key>x</key><real>488</real>
				<key>y</key><real>654</real>
				<key>w</key><real>83</real>
				<key>h</key><real>78</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>19</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_86</key>
			<dict>
				<key>x</key><real>573</real>
				<key>y</key><real>654</real>
				<key>w</key><real>91</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>1</real>
				<key>oY</key><real>10</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_87</key>
			<dict>
				<key>x</key><real>666</real>
				<key>y</key><real>654</real>
				<key>w</key><real>83</real>
				<key>h</key><real>86</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_88</key>
			<dict>
				<key>x</key><real>751</real>
				<key>y</key><real>654</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>9</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_89</key>
			<dict>
				<key>x</key><real>836</real>
				<key>y</key><real>654</real>
				<key>w</key><real>39</real>
				<key>h</key><real>88</real>
				<key>oX</key><real>27</real>
				<key>oY</key><real>8</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_9</key>
			<dict>
				<key>x</key><real>877</real>
				<key>y</key><real>654</real>
				<key>w</key><real>83</real>
				<key>h</key><real>84</real>
				<key>oX</key><real>5</real>
				<key>oY</key><real>14</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
                        <key>emoji_\U0001f307_90</key>
			<dict>
				<key>x</key><real>962</real>
				<key>y</key><real>654</real>
				<key>w</key><real>45</real>
				<key>h</key><real>92</real>
				<key>oX</key><real>29</real>
				<key>oY</key><real>5</real>
				<key>oW</key><real>93</real>
				<key>oH</key><real>108</real>
				
			</dict>
		</dict>
		<key>meta</key>
		<dict>
			<key>image</key>
			<string>places.png</string>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>
